* {
    padding: 0;
    margin: 0;
  
   
}

html {
    height: 100%;
    font-size: 100%;
}

body {
    height: 100%;
    background-color: none;
    background-image: url("DoMi_HoMi.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

#header {
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    height: 10%;
}

#BGmusic {
    float: right;
}

#title { 
    width: 55%;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
    
}


#story {
    margin-left: 12.5%;
}

#playlist {
    margin-right: 12.5%;
}

#story, #free, #playlist {
    float: left;
    height: 0;
    width: 25%;
    padding-bottom: 25%;
}

.button {
opacity: .9;
}

.button:hover {
  cursor:pointer;
    opacity: 1;  
}


